@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");
.app {
  background-color: #fafafa;
  font-family: 'B612', sans-serif;
  min-width: 100vw;
  min-height: 100vh; }
