@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

$off-white: hsl(0, 0%, 98%);
$text-highlight-blue: hsl(200, 100%, 40%);
$text-highlight-purple: hsl(291, 100%, 55%);
$darken-off-white: hsl(0, 0%, 85%);
$lighter-blue: hsl(200, 10%, 95%);
